/* Navbar */
#header {
  background-color: #00B273;
  height: 75px;
  padding: .5em;
}

#navbar-logo {
  height: 52.08px;
  width: 144px;
  margin: 2px;
}

#nav-menu {
  width: 750px;
}

/* Login page */
#form-area {
  width: 50vw;
}

/* Home page */
#logo-sizer {
  width: 75vw;
}

/* Puzzle pages */
#puz-sizer {
  width: 50vw;
}

#clue-box {
  overflow: auto;
  max-height: 500px;
}
