body {
  /* background-color: #00B273; */
  /* background-color: #f8aa9e; */
  /* background-color: #C2CBEB; */
  /* background-color: #8B99A4; */
  background-color: white;
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Crimson Text', serif;
}

#pages {
  padding-top: 90px;
}

/* Navbar */
#header {
  background-color: white;
  height: 75px;
  padding: .5em;
}

#menu-item {
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

#navbar-logo {
  height: 52.08px;
  width: 144px;
  margin: 2px;
}

#nav-menu-full {
  width: 750px;
}

#nav-menu-half {
  width: 450px;
}

/* Login page */
#form-area {
  width: 50vw;
  margin-top: 10vh;
}

#form-area .header {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

#form-area .button {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

/* Home page */
#welcome {
  width: 40vw;
  margin-top: 5vh;
}

.home-card {
  background-color: white;
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  height: 150px;
  transition: transform 100ms;
  color: #1b1c1d;
}

.home-card:hover {
  transform: translate(1px, -3px);
  color: #1b1c1d;
}

.home-card h2 {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
  font-weight: lighter;
  margin-bottom: 15px;
  color: #1b1c1d;
}

.home-card h1 {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
  font-weight: lighter;
  margin-bottom: 40px;
  color: #1b1c1d;
}

#middle-card {
  margin-top: 0px;
  height: 190px;
}

/* Solve menu */
#puz-card {
  box-shadow: none;
  font-weight: bold;
  background-color: #E6E4E3;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

#puz-card-title {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

#extra-card-content {
  background-color: #1b1c1d;
  color: white;
  font-weight: bold;
}

/* Create process */
#grid-sizer-form {
  width: 50vw;
  margin-top: 10vh;
  padding: 2em;
  background-color: white;
}

#grid-sizer-form .header {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

#size-dropdown {
  margin-bottom: 1.5em;
}

#shade-header {
  width: 100vh;
  margin-bottom: 1em;
}

#form-toggler {
  margin-bottom: 1em;
}

#shade-sizer {
  width: 50vh;
}

#shade-sizer .header {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

#shade-sizer div {
  margin-bottom: 1em;
}

#save-button {
  /* margin-left: 25px; */
  height: 36px;
  width: 38.52px;
}

#enter-header {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

#form-heading {
  padding-bottom: 4px;
}

#enter-form {
  margin-top: 10px;
}

#enter-sizer {
  width: 50vh;
}

#selected-clue {
  border: 3px solid #FFC368;
}

h4, h5 {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

/* Puzzle pages */
#puz {
  /* font-family: 'Josefin Sans', sans-serif; */
}

#puz-sizer {
  width: 70vh;
}

#puz-title {
  margin-bottom: 0px;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Playfair Display', serif;
}

#puz-author {
  margin-top: 5px;
  margin-bottom: 10px;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

.puz-header {
  margin-bottom: 10px;
}

#solved-bar {
  margin-bottom: 10px;
  background-color: #1b1c1d;
  color: white;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#fav-bar {
  padding: 7px 10px 6px 10px;
  margin-left: 10px;
  /* font-family: 'Nunito', sans-serif; */
  font-weight: lighter;
  font-family: 'Crimson Text', serif;
  background-color: black;
}

#fav-bar-solve {
  padding: 11px 10px 11px 10px;
  margin-left: 10px;
  font-family: 'Crimson Text', serif;
}

.clue-number {
  font-weight: bold;
  padding-right: 5px;
}

.order-number {
  font-weight: bold;
  padding-right: 15px;
}

#timer-button {
  margin-bottom: 5px;
  font-family: 'Crimson Text', serif;
}

#clue-box {
  overflow: auto;
  max-height: 80vh;
  margin-bottom: 15px;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}

#results-modal {
  width: 40vw;
  position: relative;
  top: 20%;
  padding: 0em 1.5em 1.5em 1.5em;
  margin-left: -20vw;
  min-height: 25vh;
  overflow-y: auto;
  text-align: center;
}

#pause-modal {
  width: 40vw;
  position: relative;
  top: 20%;
  padding: .5em 1.5em 1.5em 1.5em;
  margin-left: -20vw;
  height: 150px;
  overflow-y: auto;
  text-align: center;
}

#resume-button {
  margin-top: 20px;
  font-family: 'Crimson Text', serif;
}

#delete-completed-puzzle {
  margin-top: 3px;
  margin-bottom: 10px;
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  padding: 5px;
}

#delete-saved-puzzle {
  /* height: 20px; */
  font-family: 'Crimson Text', serif;
}

#results-tag {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 10px;
}

#results-tag a {
  color: #00B273;
}

#title-fav {
  margin-left: 15px;
}

/* User page */
#user-page-puzzles {
  min-height: 50vh;
}

#no-puzzles {
  padding-top: 20vh;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Crimson Text', serif;
}
#tab-menu {
  font-family: 'Crimson Text', serif;
}