/* Navbar */
#header {
  background-color: #00B273;
  height: 70px;
  padding: 1em;
}

#navbar-link {
  margin-left: 2em;
  color: black;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  font-size: .9em;
}

#puz-sizer {
  width: 50vw;
}

#clue-box {
  overflow: auto;
  max-height: 500px;
}
